.DS_Store
.temp/

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
.pytest_cache

# Python virtual environments
venv
.venv

# vscode project settings
.vscode/

# Nile and Cairo
node.json
127.0.0.1.deployments.txt